---
import { ArrowRight } from "@lucide/astro";

interface Props {
  href: string;
  variant?: "primary" | "secondary" | "text";
  showArrow?: boolean;
  class?: string;
}

const {
  href,
  variant = "primary",
  showArrow = false,
  class: className = "",
} = Astro.props;
const classes =
  variant === "text"
    ? `text-link ${className}`
    : `button ${variant === "secondary" ? "secondary" : ""} ${className}`;
---

<a class={classes.trim()} href={href}>
  <slot />
  {showArrow && <ArrowRight size={17} stroke-width={2} aria-hidden="true" />}
</a>
